body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    color: #005eb8; /* NHS Blue */
}

p {
    font-size: 16px;
    color: #333;
}

.actions button {
    background-color: #0072ce; /* Darker NHS Blue */
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.actions button:hover {
    background-color: #005eb8; /* NHS Blue */
}
